/* Float Elements 
--------------------------------*/

.fl-lt {
    float: left;
}

.fl-rt {
    float: right;
}

/* Clear Floated Elements
---------------------------------*/

.clear {
    clear: both;
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
}

/* Manipulate
--------------------------------*/

.center {
    text-align: center;
}

.center-x {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.center-y {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.midcontainer {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

/* Primary Styles
---------------------------------*/

body {
    background: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    font-weight: 100;
    letter-spacing: 3px;
    color: #fff;
    overflow: hidden;
}

h2 {
    font-size: 100px;
    color: #fff;
    font-family: 'Thasadith', sans-serif;
    font-weight: 700;
    letter-spacing: 3px;
    font-weight: 100;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 16px;
    margin: 0 0 5px 0;
    text-transform: uppercase;
    font-weight: 400;
}

h6 {
    font-size: 16px;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0 0 60px 0;
}

p {
    line-height: 24px;
    margin: 0;
    color: #fff;
    font-family: 'Thasadith', sans-serif;
}

/*Main carousel -- https://3dtransforms.desandro.com/carousel*/

body {
    font-family: sans-serif;
    text-align: center;
}

.scene {
    margin: 40px 0;
    position: relative;
    width: 50vw;
    height: calc(50vw/1.75555555556);
    perspective: 1000px;
}

.carousel {
    width: 100%;
    height: 100%;
    position: absolute;
    transform: translateZ(-288px);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.carousel__cell {
    overflow: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 10px;
    top: 10px;
    border: 2px solid black;
    line-height: 116px;
    font-size: 80px;
    font-weight: bold;
    color: white;
    text-align: center;
    transition: transform 1s, opacity 1s;
}

.carousel__cell:nth-child(9n+1) {
    background: hsla(0, 100%, 50%);
}

.carousel__cell:nth-child(9n+2) {
    background: hsla(40, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(9n+3) {
    background: black;
}

.carousel__cell:nth-child(9n+4) {
    background: hsla(120, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(9n+5) {
    background: hsla(160, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(9n+6) {
    background: black;
}

.carousel__cell:nth-child(9n+7) {
    background: hsla(240, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(9n+8) {
    background: hsla(280, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(9n+0) {
    background: hsla(320, 100%, 50%, 0.8);
}

.carousel__cell:nth-child(1) {
    transform: rotateY(0deg) translateZ(288px);
}

.carousel__cell:nth-child(2) {
    transform: rotateY(40deg) translateZ(288px);
}

.carousel__cell:nth-child(3) {
    transform: rotateY(80deg) translateZ(288px);
}

.carousel__cell:nth-child(4) {
    transform: rotateY(120deg) translateZ(288px);
}

.carousel__cell:nth-child(5) {
    transform: rotateY(160deg) translateZ(288px);
}

.carousel__cell:nth-child(6) {
    transform: rotateY(200deg) translateZ(288px);
}

.carousel__cell:nth-child(7) {
    transform: rotateY(240deg) translateZ(288px);
}

.carousel__cell:nth-child(8) {
    transform: rotateY(280deg) translateZ(288px);
}

.carousel__cell:nth-child(9) {
    transform: rotateY(320deg) translateZ(288px);
}



.carousel-options {
    text-align: center;
    position: relative;
    z-index: 2;
    background: hsla(0, 0%, 100%, 0.8);
}

.carouselHolder {
    position: absolute;
    bottom: 0;
    margin-left: 25vw;
}
